.btn-checkable {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-checkable svg {
    color: red;
    margin: 5px 5px -2px 0;
}

.btn-checkable:not(.--is-selected) {
    opacity: .3;
}

.btn-checkable.--is-selected svg {
    color: green;
}